body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

#nav-bar {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex start;
    align-items:baseline ;
    border: 2px solid rgb(19, 18, 18);
    background-color: bisque;
    
    
}
main {
    height: 500px;
    width: 300px;
    display: flex;
    width: 100%;
    flex-direction: column;
   
    
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items:baseline;
    padding: 2px;
}
#resume {
    display: flex;
    justify-content: center;
}

#pdf {
    height: 100%;
    display: flex;
    
    
    
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: flex start;
    align-items:baseline ;
    padding: 2px;
    
}